.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #276650;
  min-height: 10vh;
  display: flex;
  flex-direction: row;  
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-header h2{
  margin-left: 10%;
  text-align: left;
  align-content: left;
}
.App-header button{
  margin-left: 45%;
  border-radius: 50%;
  height: 60%;
  margin-top: 25px;
  background-color: #a49f3d;
  border: 1px #a49f3d;  
}


.App-month {
  background-color: #a49f3d;
  font-size: 8px;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  
}

.App-month button{
  margin-left: 45%;
  border-radius: 50%;
  height: 40%;
  
  background-color: transparent;
  border: none;
  color: #276650;
   
}

.App-content{

  background-color: #ffffff;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.App-footer{
  background-color: #276650;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;

}

.App-footer-label{
  margin-left: 5%;
  align-items: left;
  align-content: left;
  text-align: left;
  width: 70%;
 
}

.App-footer-content{
  margin-right: 5%;
  width: 30%;
  align-items: right;
  text-align: right;

}
.App-footer-row{
  width: 100%;
  display: inline-flex;
  
}


.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.p-button.p-component#btn1{
  color: red;
}

.item-verde {
  background-color: #dcebe3;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  width: 100%;
  height: 50px;
  
}

.item-vermelho {
  background-color: #e4c2b8;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  height: 50px;
  
}

.btn-item{
  margin-right: 5%;
  width: 10%;
  align-items: right;
  text-align: right; 

}
.btn-item button{
 
  color: red;
  border: 2px solid #276650;
  background-color: #dcebe3;
 

}

.nome-item{
  margin-right: 5%;
  width: 30%;
  align-items: right;
  text-align: right;

}

.dt-vencimento-item{
  margin-right: 5%;
  width: 30%;
  align-items: right;
  text-align: right;

}

.valor-item{
  margin-right: 5%;
  width: 30%;
  align-items: right;
  text-align: right;

}




.p-dataview.p-component.p-dataview-list{
  width: 100%;
  
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
